name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission for gradlew
      run: chmod +x ./OpenAI_VideoApp_Full/gradlew

    - name: Build Unsigned APK
      working-directory: ./OpenAI_VideoApp_Full
      run: ./gradlew assembleRelease

    - name: Upload Unsigned APK
      uses: actions/upload-artifact@v4
      with:
        name: unsigned-apk
        path: OpenAI_VideoApp_Full/app/build/outputs/apk/release/app-release-unsigned.apk
